
x-down-alert-common:
  &down-alert-common
  image: python:3.10-alpine
  environment:
    &down-alert-common-env
    TZ: Europe/Berlin
    # check every 5 minutes
    DOWN_ALERT_INTERVAL: 300
    # wait 3 hours
    # after an alert could be sent successfully
    DOWN_ALERT_INTERVAL_WAIT_AFTER_SEND: 10800
    DOWN_ALERT_SMTP_SERVER: smtp.gmail.com
    DOWN_ALERT_SMTP_PORT: 587
    # Sender mail
    DOWN_ALERT_FROM_MAIL: ...
    # Receiver mail
    DOWN_ALERT_TO_MAIL: ...
    DOWN_ALERT_USER: ...
    DOWN_ALERT_PASSWORD: ...
  volumes:
      - ./src/:/app/:ro
  command: ["python", "/app/__main__.py"]
  healthcheck:
    test: ["CMD", "pgrep", "-x", "python"]
    interval: 30s
    retries: 0

services:

  sample-1-service:
    <<: *down-alert-common
    environment:
      <<: *down-alert-common-env
      DOWN_ALERT_LOG_LEVEL: DEBUG
      DOWN_ALERT_SERVER_URL: sample-1.service.de

  sample-2-service:
    <<: *down-alert-common
    environment:
      <<: *down-alert-common-env
      TZ: Europe/London
      DOWN_ALERT_INTERVAL: 3600
      DOWN_ALERT_SERVER_URL: sample-2.service.com
